################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/structural/structural/Debug
/structural/structural/structural.VC.db
/structural/structural/structural.VC.VC.opendb
/structural/structural/structural.vcxproj.user
/structural/structural/structural.vcxproj.filters
/structural/structural/structural.vcxproj
